<html ng-app="myApp">
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="js/main.js"></script>
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>
<body>
	<div ng-controller="PlayerController">

		<button ng-click="play()" class="button" ng-show="!playing">Toca Rauul!</button>
		<button ng-click="stop()" class="button" ng-show="playing">Parar</button>

		Playing audio: <b>{{ playing }}</b>
			
	</div>

	<div ng-controller="MyController">
		
		<input type="text" ng-model="person.name" placeholder="Digite seu nome" />
		<h5>Olá, {{ person.name }}</h5>
		<h5> {{ clock }} </h5>
	</div>
</body>
</html>